body {
  margin: 0;
  font-family: Arial, sans-serif;
}

/* LAYOUT CHÍNH */
.container {
  display: flex;
  height: 100vh;
}

/* LEFT */
.left {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;

  background: linear-gradient(135deg, #5f95c9, #a9c3de);
}

.left-content {
  text-align: center;
  color: white;
}

.left h1 {
  font-size: 40px;
  margin-bottom: 10px;
}

.left p {
  font-size: 18px;
}

/* RIGHT */
.right {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f0f2f5;
}

/* LOGIN BOX */
.login-box {
  width: 350px;
  background: white;
  padding: 25px;
  border-radius: 10px;

  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
}

/* INPUT */
input {
  width: 100%;
  padding: 12px;
  margin: 8px 0;

  border-radius: 6px;
  border: 1px solid #ccc;
}

/* BUTTON LOGIN */
.login-btn {
  width: 100%;
  padding: 12px;
  margin-top: 10px;

  border: none;
  border-radius: 6px;
  background: #1565c0;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.login-btn:hover {
  background: #0d47a1;
}

/* FORGOT */
.forgot {
  text-align: center;
  color: #1565c0;
  cursor: pointer;
  font-size: 14px;
}

/* REGISTER */
.register-btn {
  width: 100%;
  padding: 12px;
  margin-top: 10px;

  border: none;
  border-radius: 6px;
  background: #ffd54f;
  color: black;
  font-weight: bold;
  cursor: pointer;
}

.register-btn:hover {
  background: #ffca28;
}
